@using SalesWebMVC.Models.Enums
@model IEnumerable<SalesWebMVC.Models.SalesRecord>

@{
    ViewData["Title"] = "Sales";
    // 
    var selectedStatusList = ViewBag.FilterSalesStatusIds;
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-end m-4">
    <a asp-action="Create" class="btn btn-success">New sale</a>
</div>


<div class="table-primary" id="accordion-search">
    <div class="card">
        <div class="card-header">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Search
            </button>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" data-open="@((ViewBag.ShouldOpenAccordion ?? false).ToString().ToLower())" style="">
            <form id="search-form" method="get">
                <div class="card-body">
                    <!--#region LINHA 1-->
                    <div class="row">
                        <div class="form-group col-md-6 no-padding">
                            <label class="col-md-4 control-label text-right no-padding" for="Seller">Seller</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" id="Seller" name="Seller" placeholder="Inser name" value="@ViewBag.FilterSeller">
                            </div>
                        </div>
                        <div class="form-group col-md-6 no-padding">
                            <label class="col-md-6 control-label text-right no-padding" for="DepartmentIds">Department</label>
                            <div class="col-md-8">
                                <select id="DepartmentIds" name="DepartmentIds" multiple class="form-control select2">
                                    @foreach (var dept in ViewBag.Departments as List<Department>)
                                    {
                                        <option value="@dept.Id" 
                                        selected="@(ViewBag.FilterDepartmentIds.Contains(dept.Id) ? "selected" : null)">@dept.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--#region LINHA 2-->
                        <div class="row">
                            <div class="form-group col-md-6 no-padding">
                                <label for="minDate">Min Date</label>
                                <div class="col-lg-10">
                                    <input id="minDate" type="text" name="minDate" class="form-control" value="@ViewBag.FilterMinDate" />
                                </div>
                            </div>
                            <div class="form-group col-md-6 no-padding">
                                <label for="maxDate">Max Date</label>
                                <div class="col-lg-10">
                                    <input id="maxDate" type="text" name="maxDate" class="form-control"
                                           value="@ViewBag.FilterMaxDate" />

                                </div>
                            </div>
                        </div>
                        <!--#region LINHA 3-->
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-md-8 control-label text-right no-padding" for="SalesStatusIds">Sale status</label>
                                <div class="col-md-8">
                                    <select id="salesStatusIds" name="SalesStatusIds" multiple class="form-control select2">
                                        @foreach (var sts in Html.GetEnumSelectList<SalesWebMVC.Models.Enums.SalesStatus>())
                                        {
                                            var enumValue = (SalesWebMVC.Models.Enums.SalesStatus)Enum.Parse(typeof(SalesWebMVC.Models.Enums.SalesStatus), sts.Value);
                                            <option value="@sts.Value" selected="@(ViewBag.FilterSalesStatusIds.Contains(enumValue) ? "selected" : null)">@sts.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button id="limparCampos" type="button" class="btn btn-flat btn-labeled" style="margin: 0px 10px;">Clean</button>
                    <button type="submit" class="btn btn-primary btn-labeled btn-flat"><span class="btn-label icon fa fa-filter"></span>Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="salesResults" class="pt-2">
    @*@await Html.PartialAsync("_allSales", Model)*@
    <div class="card border-primary p-4">
        <div class="card-heading text-white bg-success p-2 rounded">
            <h3 class="card-title">
                Total sales = $ <strong>@Model.Sum(obj => obj.Amount).ToString("F2")</strong>
            </h3>
        </div>
        <div class="card-body">
            <table id="salesTable" class="table table-striped table-hover salesTable">
                <thead>
                    <tr class="table-info">
                        <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Date)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Seller.UserFullName)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Seller.Department.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Amount)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Status)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-bordered
                                @(item.Status.ToString() == "Billed" ? "text-success" : "")
                                @(item.Status.ToString() == "Canceled" ? "text-decoration-line-through text-danger" : "")">
                            <td>@item.Id</td>
                            <td>@item.Date.ToString("dd/MM/yyyy")</td>
                            <td>@item.Seller.UserFullName</td>
                            <td>@item.Seller.Department.Name</td>
                            <td>@item.Amount.ToString("F2")</td>
                            <td>@item.Status</td>
                            <td class="text-decoration-none text-center">
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Details" asp-controller="Sales" asp-route-id="@item.Id" class="btn btn-info btn-sm view-details" data-id="@item.Id" ">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

<!-- Modal para detalhes -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Sales Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="detailsModalBody">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        window.detailsUrl = '@Url.Action("Details", "SalesRecords")';
    </script>
    <script src="~/js/SalesRecords/SalesRecords-Index.js"
            defer></script>
}
