@using SalesWebMVC.Models.Enums
@model IEnumerable<SalesWebMVC.Models.SalesRecord>

@{
    ViewData["Title"] = "Sales";
}
<div class="row">
    <div class="col-md-8">
        <h1 class="text-primary-emphasis">@ViewData["Title"]</h1>
    </div>
    <div class="col-4">
        <a asp-action="Create" class="btn btn-lg btn-success float-end"><i class="fas fa-plus m-2"></i>New sale</a>
    </div>
</div>
<hr />


<div class="table-primary" id="accordion-search">
    <!-- SPINNER -->
    <div id="loading-spinner" class="spinner-overlay d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="spinner-border spinner-border-sm">Loading...</span>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Search
            </button>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" data-open="@((ViewBag.ShouldOpenAccordion ?? false).ToString().ToLower())" style="">
            <form id="search-form">
                <div class="card-body">
                    <!--#region LINHA 1-->
                    <div class="row">
                        <div class="form-group col-md-6 no-padding">
                            <label class="col-md-4 control-label text-right no-padding" for="Seller">Seller</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" id="Seller" name="Seller">
                            </div>
                        </div>
                        <div class="form-group col-md-6 no-padding">
                            <label class="col-md-6 control-label text-right no-padding" for="DepartmentIds">Department</label>
                            <div class="col-md-8">
                                <select id="DepartmentIds" name="DepartmentIds" multiple class="form-control select2">
                                    @foreach (var dept in ViewBag.Departments as List<Department>)
                                    {
                                        <option value="@dept.Id">@dept.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--#region LINHA 2-->
                        <div class="row">
                            <div class="form-group col-md-6 no-padding">
                                <label for="minDate">Min Date</label>
                                <div class="col-lg-10">
                                    <input id="minDate" type="text" name="minDate" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group col-md-6 no-padding">
                                <label for="maxDate">Max Date</label>
                                <div class="col-lg-10">
                                    <input id="maxDate" type="text" name="maxDate" class="form-control"/>

                                </div>
                            </div>
                        </div>
                        <!--#region LINHA 3-->
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-md-8 control-label text-right no-padding" for="SalesStatusIds">Sale status</label>
                                <div class="col-md-8">
                                    <select id="salesStatusIds" name="SalesStatusIds" multiple class="form-control select2">
                                        @foreach (var sts in Html.GetEnumSelectList<SalesWebMVC.Models.Enums.SalesStatus>())
                                        {
                                            <option value="@sts.Value">@sts.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button id="limparCampos" type="button" class="btn btn-flat btn-labeled" style="margin: 0px 10px;">Clean</button>
                    <button type="submit" class="btn btn-primary btn-labeled btn-flat"><span class="fa-filter "></span>Search</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="salesResults" class="pt-2">
    @await Html.PartialAsync("_SalesTablePartial", Model)
</div>

<!-- Modal para detalhes -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Sales Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body" id="detailsModalBody">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        window.detailsUrl = '@Url.Action("Details", "SalesRecords")';
        window.filterUrl = '@Url.Action("")';
    </script>
    <script src="~/js/SalesRecords/SalesRecords-Index.js"
            defer></script>
}

