@model IEnumerable<SalesWebMVC.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>@ViewData["Title"]</h1>


<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<div class="col-4">
    <div class="col-md-12">
        <table class=" table table-striped table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-light">
                        <td class="col-md-8">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id"> <i class="bi bi-eye"></i></a>
                            <a class="btn btn-sm btn-outline-info" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
